body {
  margin: 0;
  font-family: Arial;
  font-size: 12px;
}

/** START - TOP MENU BANNER */
.top {
  height: 30px;
  background-color: #333333;
}

.top_int {
  width: 100%;
  max-width: 1040px;
  height: 30px;
  margin: auto;
}

.top_int_left {
  width: 50%;
  height: 30px;
  float: left;
}

.top_int_right {
  width: 50%;
  height: 28px;
  float: right;
  color: white;
  text-align: right;
  margin-top: 2px;
}

.top_int_left ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.top_int_left li {
  height: 30px;
  line-height: 30px;
  float: left;
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
}

.top_int_left li a {
  text-decoration: none;
  color: white;
}

.top_int_left .active {
  color: blue;
}

.searchbox {
  width: 110px;
  height: 26px;
  outline: 0;
  padding: 0;
  border: 0;
}

.top_int_right a {
  float: right;
}

.top_int_right input {
  float: right;

}
/** END TOP MENU BANNER */